<a href="https://colab.research.google.com/github/binit-13/Machine-Learning-Notes/blob/main/Groupby_crosstab_pivot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from string import ascii_uppercase
import random
import numpy as np

import timeit

In [ ]:
cols = list(ascii_uppercase)

In [ ]:
np.random.seed(12)
a = np.random.randint(1,100,size=(10000,10))

In [ ]:
df = pd.DataFrame(a,columns=cols[:10])

In [ ]:
df

       A   B   C   D   E   F   G   H   I   J
0     76  28   7   3   4  68  77  49  23  50
1     53   6  14  90  35  76  75   1  77  14
2     83  90  36  63  36  34  31  64  97  19
3     87  51  81  85   7  74  46  31  33  28
4     60  90  60  89  80  26  98  57   5  97
...   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
9995  23  97  72  69  96  72  16  64  74  56
9996  40  79  77  72  44  98  21  80  56  16
9997  92  20  87  60  57  75  89  40  39  51
9998  50  91  57  10  22  26  54  78  38  42
9999  58  81  78  32  10  93  43  79  89  56

[10000 rows x 10 columns]

In [ ]:
def cross_tab(data):
  return pd.crosstab(data['A'],data['B'],data['C'],aggfunc=np.sum)

def group_by(data):
  return data.groupby('C')[['A','B']].sum()

def pivot(data):
  return pd.pivot_table(data=data,columns=data['B'], values=data['C'],index=data['A'],aggfunc='count',fill_value=0)

In [ ]:
func = [cross_tab, group_by]

measurement = []

for row in np.logspace(3,5,num=3):
  np.random.seed(12)
  a = np.random.randint(1,100,size=(int(row),10))
  data = pd.DataFrame(a,columns=cols[:10])

  for f in func:
    t = timeit.timeit(stmt='f(data)',globals=globals(),number=100)
    measurement.append({'function_name':f.__name__,'row_count': row,'duration':t})

print(measurement)

[{'function_name': 'cross_tab', 'row_count': 1000.0, 'duration': 0.7393921359998785}, {'function_name': 'group_by', 'row_count': 1000.0, 'duration': 0.1667220150011417}, {'function_name': 'cross_tab', 'row_count': 10000.0, 'duration': 1.0341890569998213}, {'function_name': 'group_by', 'row_count': 10000.0, 'duration': 0.18437426000127743}, {'function_name': 'cross_tab', 'row_count': 100000.0, 'duration': 1.8119031159985752}, {'function_name': 'group_by', 'row_count': 100000.0, 'duration': 0.4988522000003286}]

In [ ]:
m = pd.DataFrame(measurement)
print(m)

  function_name  row_count  duration
0     cross_tab     1000.0  0.739392
1      group_by     1000.0  0.166722
2     cross_tab    10000.0  1.034189
3      group_by    10000.0  0.184374
4     cross_tab   100000.0  1.811903
5      group_by   100000.0  0.498852

In [ ]:
m.groupby(['row_count', 'function_name'])['duration'].mean().unstack(level=0)
## level -1 le tyo inner most that is function name column ma aaucha where as 0 le outermost that is
## row_Count column ma gayo ani tyaha batta vayo

row_count      1000.0    10000.0   100000.0
function_name
cross_tab      0.739392  1.034189  1.811903
group_by       0.166722  0.184374  0.498852

In [ ]:
m.groupby(['row_count', 'function_name'])['duration'].mean()

row_count  function_name
1000.0     cross_tab        0.739392
           group_by         0.166722
10000.0    cross_tab        1.034189
           group_by         0.184374
100000.0   cross_tab        1.811903
           group_by         0.498852
Name: duration, dtype: float64